.attendre{
 
  height: 70%;

  background-color: rgb(175, 187, 187);
  padding-top: 2px;
     
}
.calculer{
    height: 35px;
    width: 20%;
    background-color: rgb(123, 119, 115);
    border-radius: 10px;
  }
.carriere2{
  margin-bottom: 0 !important;
  padding: O;
}

  .accorder{
    width: 30%;
    background-color: beige;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
  }
  .solution{
    height: 70%;
    width: 99%;
  }
  .voir{
    margin-bottom: 40%;
  }
  @media screen and (max-width:425px) {
    .attendre{
      height:40vh;
      width: 43vh;
    }
    
  }
  @media screen and (max-width:375px) {
    .attendre{
      height:40vh;
      width: 38vh;
    }
    .carriere2{
    margin-right: 40;
    margin-left: 40%;
    height: 70%;
    width: 90%;
      
    }
    
  }
  @media screen and (max-width:320px) {
    .attendre{
      height:38vh;
      width: 32vh;
    }
 }
 @media screen and (max-width:728px) {
  
 }
 
    
 